.tabs__items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.tabs__items--item {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.tabs__items.tabs--is-vertical {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  padding: 0;
}

.tabs__items-item--is-active {
  border-bottom: 3px solid var(--primary-color);
  display: block;
}
