.carousel__container {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.carousel__image {
  width: 100%;
  height: auto;
  display: none;
}

.carousel__image--is-active {
  display: block;
}

.carousel__action-button--is-left {
  left: 10px;
}

.carousel__action-button--is-right {
  right: 10px;
}

.carousel__action-button {
  position: absolute;
  top: 50%;
  color: red;
}
