.button {
  appearance: none;
  color: var(--primary-color);
  cursor: pointer;
}

.button--has-icon {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
}

.button--has-icon:focus,
.button--has-icon:hover {
  border-color: var(--primary-color);
  outline: none;
  transition: border-color 0.25s ease;
}
