.text-field {
  position: relative;
  box-sizing: border-box;
  height: 56px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--secondary-color);
}

.text-field.is-focused,
.text-field:hover {
  border-color: var(--color-accented);
  transition: border-color 0.25s ease;
}

.text-field__input {
  font-size: 1em;
  color: var(--primary-color);
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: transparent;
  border: none;
}

.text-field__input:focus {
  outline: none;
}

.text-field__input::placeholder {
  color: var(--primary-color);
}

.text-field__has-icon {
  padding-right: 10px;
}
