:root {
  --navigation-color: white;
  --navigation-box-shadow: rgba(0,0,0,.2)
}

.navigation__container {
  background-color: var(--navigation-color);
  box-shadow: 2px 4px 10px var(--navigation-box-shadow);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__items {
  display: none;
}

.navigation__container-brand {
  margin: 0 15px;
}

.navigation__image {
  height: 40px;
  width: 150px;
  display: none;
}

@media (min-width: 650px) {
  .navigation__items {
    display: inherit;
  }

  .navigation__image {
    display: block;
  }

  .navigation__item--is-active,
  .navigation__action-button {
    display: none;
  }
}
