@import '../node_modules/material-design-icons/iconfont/material-icons.css';

:root {
  --primary-color: #00507e;
  --secondary-color: lightgray;
  --color-accented: grey;
  --body-background-color: white;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: var(--body-background-color);
}

ul, li {
  list-style: none;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container--header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}

.images--grid-cell {
  max-width: 100%;
}

/* just experimenting with some new css3 features */
.grid-container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px 10px;
}

.grid-container--cell {
  font-size: 3rem;
  text-align: center;
  overflow: hidden;
  align-items: stretch;
  display: flex;
  justify-content: stretch;
}

@media (min-width: 650px) {
  .container--header {
    display: none;
  }

  .tabs__items.tabs--is-vertical {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    margin: auto;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.content {
  width: 100%;
}

.li {
  display: flex;
  align-items: center;
}

.form--container .text-field {
  margin: 5px 0;
}

.footer__container {
  background-color: #404040;
}

.footer__container .container--header {
  display: flex;
}

.footer__container__subtitle {
  color: white;
  text-align: center;
}

.footer__contact-form {
  --primary-color: white;
  max-width: 400px;
  margin: auto;
}

.footer__contact-form .text-field  {
  margin: 20px;
}

.text-field.text-field__textarea {
  height: initial;
}

.action-button {
  --primary-color: orange;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
